---
---

$header-bg-color: #000000;
$header-bg-color-secondary: #155799;
@import "{{ site.theme }}";
a.project-tagline:link {
color:#ffffff;
}
a.project-tagline:link {
color:#ffffff;
}
a.project-tagline:visited {
color:#ffffff;
}
a.project-tagline:hover {
color:#ffffff;
}