---
---

$header-bg-color: #000000;
$header-bg-color-secondary: #155799;
@import "{{ site.theme }}";
.project-tagline{
 a{
   color:#ffffff !important;
 }
}
header{
background-image: url("https://gisforthought.com/media/GIS_for_thought_banner1.png");
}